/** mobile first **/

img {
  display: block;
  width: 100%;
  height: auto;
}

#sektion_1_forside {
  width: auto;
  height: 90vw;
  background-color: #06090e;
}
#sektion_1_forside p {
  color: white;
}

#sektion_1_forside {
  display: grid;
}
