/** mobile first **/

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  font-size: 12px;
}

h2 {
  font-size: 18px;
}

/** Navigation Mobile**/

header {
  position: sticky;
  top: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Mukta", sans-serif;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
li:hover {
  background-color: #e1b74c;
  border-bottom-color: white;
}
/**********************/
/**** Navigation slut ******/
/************************************************/

#sektion_1_forside {
  width: auto;
  height: 90vw;
  background-color: #06090e;
}
#sektion_1_forside h1 {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  padding-left: 100px;
}

#sektion_1_forside {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
}
#splashbilled {
  grid-column: 2/4;
  grid-row: 1/3;
  margin-top: 60px;
}

#sektion_1_forside h1 {
  grid-column: 2/3;
  grid-row: 2;
}

/** Sektion 2 - forside **/

#sektion_2_forside {
  color: black;
  width: auto;
  height: 40vw;
}

#sektion_2_forside {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
#sektion_2_forside p {
  font-family: "Mukta", sans-serif;
}

#sektion_2_forside #brodtekst_forside {
  grid-column: 2;
  grid-row: 2;
  margin-top: 20px;
  margin-bottom: 100px;
  width: auto;
  height: 90vw;
}

/**Sektion 3 forside**/

#sektion_3_forside {
  overflow: hidden;
}

/** Splashbilled-tekst**/

.splashbilled_txt {
  font-family: "Dancing Script", cursive;
  color: whitesmoke;
  margin-top: 16px;
  padding-right: 10px;
}

.splashbilled_txt {
  display: grid;
  grid-column: 2;
}

/** web.html **/

.underside_section_2 h2 {
  font-family: "Cormorant Garamond", serif;
  margin-top: 20px;
  padding: 10px;
}
.underside_section_2 p {
  font-family: "Mukta", sans-serif;
  padding: 10px;
}

/**Ipad**/

@media (min-width: 768px) {
  a {
    padding: 10px;
  }

  #sektion_1_forside h1 {
    font-size: 70px;
    color: goldenrod;
  }
  #sektion_1_forside {
    width: auto;
    height: 70vw;
    background-color: #06090e;
  }
  .splashbilled_txt {
    /* padding: 50px; */
  }

  #sektion_2_forside #brodtekst_forside {
    margin-top: 100px;
    overflow: visible;
  }
}

/** desktop **/
@media (min-width: 1200px) {
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 22px;
  }
  a {
    padding: 10px;
  }

  #sektion_1_forside {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
  }

  #splashbilled {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 60px;
  }

  #sektion_1_forside h1 {
    font-size: 90px;
    color: white;
  }
  #sektion_1_forside {
    width: auto;
    height: 50vw;
    background-color: #06090e;
  }
  #sektion_1_forside h1 {
    grid-column: 2/3;
    grid-row: 2;
  }

  /** Sektion 2 - forside - desktop **/
  #sektion_2_forside #brodtekst_forside {
    grid-column: 2;
    grid-row: 3;
    margin-top: 300px;
  }

  /** Tekst på splashbille**/
  .splashbilled_txt {
    font-family: "Dancing Script", cursive;
    color: goldenrod;
    margin-top: 10px;
    padding-right: 10px;
  }
  .splashbilled_txt {
    grid-column: 3;
    grid-row: 2;
    margin-top: 150px;
    padding-right: 60px;
  }

  #sektion_3_forside {
    display: flex;
    justify-content: space-between;
  }

  #sektion_4_forside {
    display: flex;
    justify-content: space-between;
  }
}
