/** mobile first **/

img {
  display: block;
  width: 100%;
  height: auto;
}

/** Navigation Mobile**/

header {
  position: sticky;
  top: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Mukta", sans-serif;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
li:hover {
  background-color: #e1b74c;
  border-bottom-color: white;
}
/**********************/
/**** Navigation slut ******/
/************************************************/

#sektion_1_forside {
  width: auto;
  height: 90vw;
  background-color: #06090e;
}
#sektion_1_forside h1 {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  padding-left: 100px;
}

#sektion_1_forside {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
}
#splashbilled {
  grid-column: 2/4;
  grid-row: 1/3;
  margin-top: 60px;
}

#sektion_1_forside h1 {
  grid-column: 2/3;
  grid-row: 2;
}

/** Sektion 2 - forside **/

#sektion_2_forside {
  color: black;
  width: auto;
  height: 40vw;
}

#sektion_2_forside {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
#sektion_2_forside p {
  font-family: "Mukta", sans-serif;
}

#sektion_2_forside p {
  grid-column: 2;
  grid-row: 2;
  margin-top: 70px;
  margin-bottom: 20px;
}

/**Sektion 3 forside**/

#sektion_3_forside {
  width: auto;
  height: 90vw;
}

/**Ipad**/

@media (min-width: 768px) {
  a {
    padding: 10px;
  }

  header .logo {
    text-align: start;
  }

  #sektion_1_forside h1 {
    font-size: 70px;
    color: green;
  }
  #sektion_1_forside {
    width: auto;
    height: 70vw;
    background-color: #06090e;
  }
}

/** desktop **/
@media (min-width: 1200px) {
  header .logo {
    text-align: start;
  }

  a {
    padding: 10px;
  }

  #sektion_1_forside {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
  }

  #splashbilled {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 60px;
  }

  #sektion_1_forside h1 {
    font-size: 90px;
    color: white;
  }
  #sektion_1_forside {
    width: auto;
    height: 50vw;
    background-color: #06090e;
  }
  #sektion_1_forside h1 {
    grid-column: 2/3;
    grid-row: 2;
  }

  /** Sektion 2 - forside - desktop **/
  #sektion_2_forside p {
    grid-column: 2;
    grid-row: 3;
    margin-top: 50px;
  }
}
